<!DOCTYPE html>
<html>
  
  <head>
    <title>gradBot v2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href= "{{ url_for('static',filename='robot.png') }}" type="image/png">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <!-- <link rel= "stylesheet" type= "text/css" href= "../static/styles.css"> -->


  </head>
  <body>
      <div class="box"></div>

      <p class="head-link"><a href="https://ani-poroorkara.github.io/" target="_blank">Anirudh Poroorkara</a></p>
      
      <div class="title sticky-top align-middle container-fluid">
        <h1 class="display-1">gradBot</h1>
        <small class="text-muted">Online now!</small>
        <div class="d-flex justify-content-evenly">
          <a href="https://github.com/ani-poroorkara" target="_blank" class="icons"><i class="bi bi-github"></i></a>
          <a href="https://github.com/ani-poroorkara/gradBot" target="_blank" class="icons"><i class="bi bi-house-door"></i></a>
          <a href="https://github.com/ani-poroorkara" target="_blank" class="icons"><i class="bi bi-question-circle"></i></a>
        </div>
      </div>
	    
	
      <div class="boxed">
        <div>
          <div id="chatbox">
              <p class="botText alert">
                  <span><i class="bi bi-robot"></i> Hello! I'm the gradBot!</span>
              </p>
          </div>
          <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Message" />
          </div>
        </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='script.js')}}"></script>

    </div>
  </body>
</html>
